// Search form

@import "../common/_mixins";
@import "../common/_variables";

.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok {
  border: medium none;
}

.wpcf7-not-valid-tip, .wpcf7-response-output, .wpcf7-mail-sent-ok {
  font-family: $main-font;
  font-size: 12px;
}

.terms-content {
  margin-top: 25px;
  color: #888888;
  font-size: 1.3rem;
  line-height: 1.4;
  input {
    margin-right: 8px;
    width: initial;
  }
  a {
    font-weight: 500;
  }
}

.wpcf7-recaptcha {
  display: table;
  padding: 25px 15px;
}

.wpcf7-form-control-wrap {
  display: table;
  position: relative;
  width: 100%;
}

.terms-content {
  span[class*="checkbox-"] {
    display: inline;
    width: initial;
    input {
      float: left;
      margin: 3px 0 0;
    }
  }
}

span.wpcf7-not-valid-tip {
  font-size: 1.2rem;
  padding: 0 15px;
}

.modal-footer {
  .btn {
    margin-top:  0;
  }
}

div.wpcf7-response-output {
  font-weight: 400;
  margin: 0 0.5em 1em;
}

div.wpcf7-mail-sent-ok {
  border: medium none;
  color: $green-turk;
}

.wpcf7-form {
  &.sent {
    & > div, & > p {
      display: none;
    }
    div{
      &.modal-footer, &.contact-submit {
        border: medium none;
        display: block;
        padding: 0;
        text-align: center;
        input[type="submit"].btn.wpcf7-submit {
          display: none;
        }
        .btn.btn-default {
          float: inherit;
        }
        .ajax-loader {
          display: none;
        }
        div.wpcf7-response-output {
          border: medium none;
          color: $green;
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 0;
        }
      }
    }
  }
  &.failed, &.spam, &.invalid {
    & > div:not(.modal-footer), & > div:not(.contact-submit), & > p {
      //display: none;
    }
    .modal-footer, .contact-submit {

    }
  }
  div.wpcf7-response-output {
    border: medium none;
    color: #ff0000;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0;
  }
}

div.wpcf7 .screen-reader-response {
  color: $green;
  display: none;
  font-size: 2.4rem;
  font-weight: 400;
  height: auto;
  letter-spacing: -0.012em;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body, .modal {
    .modal-footer {
      input.wpcf7-submit {
        margin-left: 0 !important;
        margin-top: 10px;
        width: 100%;
      }
      button[data-dismiss] {
        width: 100%;
      }
    }
  }
}