@import "../common/variables";
@import "../common/mixins";

.other-articles, .other-articles.vc_row.vc_row-fluid {
  margin: 0;
  width: 100%;
  .vc_column_container > .vc_column-inner {
    padding: 0;
  }
  & > .col-md-6, & > .col-md-12, & > .vc_col-sm-6, & > .vc_col-sm-12 {
    padding: 0;
    height: 320px;
    display: table;
  }
  .previous-article {
    .article-content {
      .article-bg {
        background-color: $blue-turk;
      }
    }
  }
  .next-article {
    .article-content {
      .article-bg {
        background-color: $green-turk;
      }
    }
  }
  .article-content {
    cursor: pointer;
    padding: 25px;
    color: #ffffff;
    text-align: center;
    display: table-cell;
    height: 320px;
    vertical-align: middle;
    width: 1%;
    overflow: hidden;
    position: relative;

    &:hover, &:focus {
      .article-bg {
        transform: scale(1.04);
        @include brightness(0.45);
        @include transition-multi(transform 0.5s ease 0s, filter 0.5s ease 0s);
      }
    }

    .article-bg {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 320px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
      @include brightness(0.25);
      @include transition-multi(transform 0.5s ease 0s, filter 0.5s ease 0s);
    }

    h2 {
      color: #ffffff;
      font-weight: 400;
      margin-bottom: 15px;
      font-size: 2.4rem;
    }
  }
}

@media screen and (max-width: 992px) {
  div.main > .row.other-articles {
    margin: 0;
  }
  .other-articles {
    .col-md-6, .vc_col-sm-6 {
      margin-bottom: 0;
    }
  }
  .single .main > .container {
    margin: 60px auto;
    section {
      line-height: 1.6em;
      text-align: justify;
    }
  }
  .vc_row.vc_row-fluid > .vc_col-sm-6 {
    .article-content {
      h2, p {
        text-align: center;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .other-articles, .other-articles.vc_row.vc_row-fluid {
    & > .col-md-6, & > .col-md-12, & > .vc_col-sm-6, & > .vc_col-md-12 {
      height: 220px;
    }
    .article-content {
      height: 220px;
      h2 {
        font-size: 2rem;
      }
    }
  }
}