@import "../common/_variables";

.subscribe-green {
  background: #00a5e1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00a5e1 0%, #5bc8ef 50%, #79e2d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00a5e1 0%,#5bc8ef 50%,#79e2d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00a5e1 0%,#5bc8ef 50%,#79e2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5e1', endColorstr='#79e2d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .btn.large.white {
    color: $orange;
    font-weight: 400;
    font-size: 1.6rem;
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
    padding: 16px 24px;
    margin-left: 30px;
    &:hover, &:focus {
      background-color: darken(white, 3%);
    }
  }
}

.subscribe-cta {
  text-align: left;
  .btn {
    margin: 0;
  }
}

.vc_row.vc_row-fluid > .vc_col-sm-6.subscribe-text {
  text-align: right;
  h2, p, strong {
    color: white;
  }
  strong {
    font-weight: 500;
  }
  h2 {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.005em;
    margin-bottom: 0;
    line-height: 1.2;
  }
  p{
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .vc_row.vc_row-fluid > .vc_col-sm-6.subscribe-text {
    text-align: right;
    margin-bottom: 0;
    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      text-align: right;
      padding: 0;
    }
    p {
      margin-top: 10px;
      text-align: right;
    }
  }
  .subscribe-text {
    .vc_column_container {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .vc_row.vc_row-fluid > .vc_col-sm-6.subscribe-text h2 {
    text-align: center;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .vc_row.vc_row-fluid > .vc_col-sm-6.subscribe-text h2 {
    text-align: center;
  }
}