@import "../common/variables";
@import "../common/mixins";

table {
  font-family: $main-font;
  font-size: $font-size-sm;
  th {
    font-size: $font-size-xsm;
    font-weight: 400;
    color: $black;
    small {
      color: #aaaaaa;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
}