@import "common/variables";
@import "common/mixins";

//.main {
//  & > .row {
//    background: -webkit-linear-gradient(bottom, $black, $black-light); /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(bottom, $black, $black-light); /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(bottom, $black, $black-light); /* For Firefox 3.6 to 15 */
//    background: linear-gradient(to bottom, $black, $black-light); /* Standard syntax (must be last) */
//  }
//}

$timeline-top : 630px;

.page-header-darklayer {
  opacity: 0.5;
}

.page-header {
  @include saturate(110%);
}

#content {
  margin-top: 40px;
}

.vertical-timeline {
  margin-left: 0;
  //position: relative;
  margin-top: 70px;
  width: 100%;
  display: table;
  margin-bottom: 70px;
  .timeline-point {
    height: 9px;
    left: -3px;
    top: 32px;
    width: 9px;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  }
  &.item-list li {
    border: medium none;
    width: 50%;
    padding: 0;
    &:nth-child(odd) {
      clear: right;
      float: left;
      text-align: right;
      margin-top: 20px;
      .article-title {
        left: 0;
        padding: 0 25px 0 20px;
      }
      .timeline-point {
        float: right;
        left: 6px;
        top: 19px;
      }
    }
    &:nth-child(even) {
      clear: left;
      float: right;
      text-align: left;
    }
    h4 {
      font-size: 2.8rem;
      color: $black;
      &:hover, &:focus {
        color: $blue;
      }
    }
    .article-title {
      left: 0;
      padding: 0 25px;
      display: block;
      .meta {
        margin-bottom: 0;
      }
      &:hover, &:focus {
        color: white;
        opacity: 0.75;
      }
    }
  }
  .timeline-bar {
    height: 100%;
    left: 50%;
    opacity: 0.3;
    top: $timeline-top;
    z-index: -1;
  }
}



#content {
  padding-bottom: 70px;
}

.sidebar {
  iframe {
    border-bottom: 2px solid $grey !important;
    @include border-radius(3px);
  }
}

@media screen and (max-width: 992px) {
  div.main > .row {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .vertical-timeline {
    .timeline-point {
      display: none;
    }
    .timeline-bar {
      display: none;
    }
    &.item-list {
      li {
        width: 100%;
      }
    }
    .article-title {
      text-align: center;
    }
  }
}

@mixin container-queries($browser-width, $top) {
  @media screen and (max-width: $browser-width) {
    .vertical-timeline {
      .timeline-bar {
      height: calc(100% - #{$top});
        top: $top;
      }
    }
  }
}

@include container-queries(1920px, 630px);
@include container-queries(1600px, 545px);
@include container-queries(1405px, 490px);
@include container-queries(1185px, 425px);
@include container-queries(992px, 405px);