@import "common/variables";
@import "common/mixins";

.page-header {
  //background-image: linear-gradient(-45deg, #0DBFD9 3%, #00d2f2 18%, #00caee 31%, #00c7ec 37%, #00b0df 70%, #007cc1 91%, #005a94 100%) !important;
  min-height: 100vh;
  @include saturate(135%);
  .container {
    text-align: center;
  }
  h1 {
    line-height: 1.04;
    font-size: 5.2rem;
    letter-spacing: -0.035em;
    margin-bottom: 2px;
    font-weight: 500;
    text-transform: none;
    span {
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .page-description {
    font-size: 18px;
    line-height: 1.4;
    font-family: $serif;
    font-weight: 200;
  }
  .btn {
    margin-top: 35px;
    position: relative;
    z-index: 2;
  }
}

.page-header-darklayer {
  opacity: 0;
}

h5 {
  padding-bottom: 40px;
}

.main > div#home-dashboard.wpb_row.vc_row-fluid:not(#subscribe) {
  margin-bottom: 0;
}

.main > div#home-success.wpb_row.vc_row-fluid:not(#subscribe) {
  margin-top: 30px;
}

#home-features {
  .vc_column-inner {
    & > .wpb_wrapper {
      .wpb_wrapper {
        font-size: $font-size-sm;
      }
    }
  }
}

#home-success {
  text-align: center;
  h2 {
    color: white;
    padding: 0;
    margin-bottom: 0;
  }
  .img-link {
    margin-top: 10px;
  }
  .success-bg {
    background-size: cover;
    display: block;
    width: 100%;
    z-index: -1;
  }
  .vc_col-sm-6 {
    cursor: pointer;
    .vc_column-inner {
      padding: 0 5px 0 0;

    }
    .success-bg {
      height: 580px;
    }
    &:last-child {
      .vc_column-inner {
        padding: 0 0 0 5px;
        .wpb_text_column:last-child {
          margin-top: 10px;
        }
      }
      .success-bg {
        height: 285px;
      }
    }
  }
}

.success-txt {
  position: absolute;
  width: 100%;
  z-index: 1;
  &.success-txt-ankama {
    margin-top: 275px;
    @include transition-multi(margin-top 0.5s ease 0s);
  }
  &.success-txt-lexception, &.success-txt-kusmitea {
    margin-top: 135px;
    @include transition-multi(margin-top 0.5s ease 0s);
  }
}

.success-content {
  overflow: hidden;
  position: relative;
  &:hover, &:focus {
    cursor: pointer;
    .success-txt-ankama {
      margin-top: 260px;
      @include transition-multi(margin-top 0.5s ease 0s);
    }
    .success-txt-lexception, .success-txt-kusmitea {
      margin-top: 120px;
      @include transition-multi(margin-top 0.5s ease 0s);
    }
    .success-bg {
      transform: scale(1.04);
      @include brightness(0.65);
      @include transition-multi(transform 0.5s ease 0s, filter 0.5s ease 0s);
    }
    .img-link {
      opacity: 1;
      @include transition-multi(opacity 0.5s ease 0s);
    }
  }
  .success-bg {
    z-index: -1;
    @include brightness(0.9);
    @include transition-multi(transform 0.5s ease 0s, filter 0.5s ease 0s);
  }
  .img-link {
    opacity: 0;
    @include transition-multi(opacity 0.5s ease 0s);
  }
}

figure {
  &:nth-last-child(-n+6) {
    margin-bottom: 0;
  }
}

#home-products {
  border-top: 1px dotted #cccccc;
  padding-top: 70px;
  text-align: center;
  .vc_column-inner {
    & > .wpb_wrapper {
      .wpb_wrapper {
        font-size: $font-size-sm;
      }
    }
  }
  .home-offer {
    h4 {
      font-size: 1.6rem;
      font-weight: 200;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    img {
      max-width: 41px;
      margin-bottom: 25px;
    }
    & > .vc_column-inner {
      padding: 40px 25px;
    }
    .wpb_wrapper {
      min-height: 370px;
      position: relative;
    }
  }
  .home-professional {
    background-color: $black-light;
    @include border-radius(3px 0 0 3px);
    h4 {
      color: white;
    }
    p {
      color: white;
      opacity: 0.6;
    }
  }
  .home-enterprise {
    border: 1px solid #99CBE6;
    padding: 14px 0;
    @include border-radius(3px);
    h4 {
      color: $blue;
    }
  }
  .home-marketplace {
    background-color: $blue;
    @include border-radius(0 3px 3px 0);
    h4 {
      color: white;
    }
    p {
      color: white;
      opacity: 0.7;
    }
  }
  .home-professional, .home-marketplace {
    min-height: 400px;
    margin-top: 15px;
    .btn {
      background-color: rgba(255,255,255,0.2);
      color: white;
      &:focus, &:hover, &:active {
        background-color: rgba(255,255,255,0.3);
        outline: medium none;
        //@include transition(opacity);
      }
    }
  }
  .offer-buttons {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

#home-clients {
  margin: 0 auto;
  h5 {
    padding-bottom: 0;
  }
}

.main > div#certifications.wpb_row.vc_row-fluid:not(#subscribe) {
  margin-bottom: 0;
}

#certifications {
  background-color: #E5F2F9;
  margin: 0;
  text-align: left;
  h5 {
    color: #66B0DA;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  h5 {
    padding: 6px 6px 4px 6px;
  }
  .page-header {
    padding: 0 15px;
    h1 {
      font-size: 45px;
      max-width: 100%;
      text-align: center;
    }
    .page-description {
      font-size: 22px;
      text-align: center;
      margin: 0 auto;
    }
    .page-header-content {
      .container {
        padding: 0 25px;
        width: 100%;
      }
    }
    .btn {
      float: initial;
    }
  }
  #home-products {
    padding-top: 40px;
    .home-offer .wpb_wrapper {
      min-height: initial;
    }
    .offer-buttons {
      position: relative;
    }
    .home-professional, .home-enterprise, .home-marketplace {
      border: medium none;
      margin-bottom: 0;
      margin-top: 0;
      @include border-radius(0);
      min-height: initial;
      padding: 0;
    }
  }
  .dashboard .vc_col-sm-5 {
    margin-top: 0;
  }
  #home-success {
    border-top: 1px dotted #cccccc;
    padding-top: 40px;
    & > .vc_column_container {
      margin-bottom: 0;
      &.vc_col-sm-12 {
        margin-bottom: 40px;
      }
    }
    .vc_col-sm-6 {
      .vc_column-inner {
        padding: 0;
      }
      &:last-child {
        .success-bg {
          height: 220px;
        }
        .vc_column-inner {
          padding: 0;
          .wpb_text_column:last-child {
            margin-top: 0;
          }
        }
      }
      .success-bg {
        height: 220px;
      }
    }
    .success-txt {
      &.success-txt-ankama, &.success-txt-lexception, &.success-txt-kusmitea {
        margin-top: 100px;
      }
    }
  }
  #home-clients {
    h5 {
      padding: 6px 6px 4px;
    }
  }
  .logos-clients {
    .vc_col-sm-2 {
      float: left;
      width: 33.3333%;
    }
  }
  #certifications {
    h5 {
      border: medium none;
    }
    .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5 {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .logos-clients {
    .vc_col-sm-2 {
      float: left;
      width: 50%;
    }
  }
}