@import "common/variables";
@import "common/mixins";
@import "common/header-left-cta";


.page-header {
  filter: saturate(130%);
  .page-header-content {
    text-align: left;
    h1 {
      text-align: left;
      line-height: 1.2;
      margin-top: 85px;
    }
  }
}

.pm-graphic {
  small {
    display: table;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px auto 0;
  }
  h4{
    font-size: 1.4rem;
    letter-spacing: 0;
  }
}

.page-header-darklayer {
  left: 0;
}

.highlight {
  text-align: center;
}

.container.nav-country {
  left: calc(50% - 1170px /2);
  position: absolute;
  z-index: 1;
  padding-top: 25px;
  width: calc(16.6667% - 30px);
  li {
    border-left: 3px solid transparent;
    padding-left: 10px;
    font-weight: 300;
    a {
      color: $grey-txt;
    }
    &.active {
      font-weight: 500;
      border-left: 3px solid $blue;
      a {
        color: $blue;
      }
    }
  }
}

.map-world {
  display: table;
  margin: 0 auto;
  max-width: 263px;
}

.payment-method-content {
  .vc_column-inner {
    padding-left: 0;
    padding-right: 70px;
  }
  p {
    font-size: 1.4rem;
  }
  .payment-logo {
    border-top: 1px dotted #ccc;
  }
  &.pm-content-first {
    .payment-logo {
      border-top: medium none;
    }
  }
}

.payment-logo {
  img {
    padding: 25px 0;
    max-height: 130px;
  }
}

.tab-pane {
  p {
    text-align: justify;
  }
  .vc_row.wpb_row.vc_inner.vc_row-fluid {
    padding-bottom: 60px;
  }
}

.vc_row.vc_row-fluid.payment-methods-logos {
  width: 960px;
  margin: 15px auto;
}

.payment-methods-intro {
  h2 {
    margin-top: 70px;
  }
}

.vc_chart .vc_chart-legend {
  text-align: left;
}

.main {
  margin-bottom: 70px;
}

.popover {
  text-align: justify;
  width: 360px;
}

.bs-popover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container.nav-country {
    left: calc(50% - 992px / 2);
  }
}

@media screen and (max-width: 992px) {
  .container.nav-country {
    left: calc(50% - 750px / 2);
  }
}

@media screen and (max-width: 768px) {
  .payment-method-content {
    .payment-logo {
      border-top: medium none;
    }
  }
  .container.nav-country {
    margin: 0;
  }
  .pm-graphic {
    h4 {
      margin-top: 25px;
    }
  }
  .vc_chart {
    .vc_chart-legend {
      text-align: center;
      margin: 25px 0 0;
      span {
        display: table;
        margin: 0 auto;
      }
    }
  }
  .page-header {
    background-position: right 35%;
  }
  .payment-method-content .vc_column-inner {
    padding-right: 0;
  }
  .tab-pane .vc_row.wpb_row.vc_inner.vc_row-fluid {
    padding-bottom: 0;
  }
  .vc_column_container {
    margin-bottom: 0;
  }
  .vc_row.vc_row-fluid p {
    text-align: justify;
  }
  .pm-empty {
    display: none;
  }
  .pm-data {
    margin: 0;
  }
  .highlight, .highlight-small {
    padding: 0 15px;
  }
  .tab-pane.vc_row.vc_row-fluid {
    margin: 0;
  }
  .container.nav-country {
    left: 0;
    margin: 25px 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    li {
      padding: 0;
      &.active {
        border-left: 3px solid transparent;
      }
    }
  }
}