@import "common/variables";
@import "common/mixins";

body {
  background-color: $background-grey;
}

.nav-secondary > li {
  &:last-child {
    display: none;
  }
}

.page-header-darklayer {
  opacity: 0.45;
}

.page-header {
  @include saturate(135%);
  h1 {
    margin-top: 0;
  }
}

.container-sm {
  background-color: white;
  position: relative;
  z-index: 1;
  & > h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.nav-tabs {
  border-bottom: medium none;
  margin-bottom: 40px;
  & > li {
    display: table;
    padding: 0 5px;
    width: 33.3333%;
    &.active {
      a, a:hover, a:focus {
        border: 1px solid $blue;
        color: $blue;
      }
    }
    & > a {
      background-color: $background-grey;
      @include border-radius(3px);
      font-size: $font-size-xsm;
      line-height: 1.2;
      color: $black;
      font-weight: 400;
      letter-spacing: -0.01em;
      padding: 25px 15px;
      text-align: center;
      margin-right: 5px;
      min-height: 87px;
      display: table-cell;
      vertical-align: middle;
      height: 87px;
    }
  }
}

.tab-pane {
  text-align: center;
  p {
    margin: 0 auto;
    max-width: 580px;
    padding: 0 25px;
    text-align: justify;
  }
  .btn {
    display: table;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 992px) {
  .page-header h1 {
    margin-top: 35px;
  }
  div.main > .row {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-tabs > li {
    margin-bottom: 5px;
    width: 100%;
    & > a {
      height: inherit;
    }
  }
  .btn.green {
    width: 100%;
  }
}
