@import "common/variables";
@import "common/mixins";
//@import "common/header-left-cta";

.page-header-darklayer {
  left: 0;
}

.page-header .page-header-content {
  z-index: 1;
  text-align: center;
  width: 100%;//
}

.page-header, .page-header-darklayer {
  height: 420px;
}

.wpb_wrapper p {
  text-align: justify;
}

.secure-logos {
  border: 1px solid rgba(0, 165, 225, 0.2);
  @include border-radius(6px);
}

.secure-txt {
  padding-left: 25px;
  p {
    float: left;
  }
}

.vc_row.vc_row-fluid.secure-installation.full {
  padding: 70px calc((100% - 1170px) / 2) 0;
}

.secure-installation {
  @include brand-gradient;
  h2 {
    padding-top: 50px;
  }
  h2, p {
    color: white;
    text-align: left;
  }
  img {
    float: right;
    max-width: 430px;
  }
}

.fps-3ds-img {
  display: table;
  padding: 25px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 40px auto;
  max-width: 580px;
  @include border-radius(6px);
}

.wpb_text_column .fps-3ds-img  {
  margin-bottom: 40px;
}

#subscribe h1, #subscribe h2, #subscribe h3, #subscribe h4, #subscribe h5, #subscribe h6, #subscribe p {
  color: #ffffff;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .secure-logos {
    display: table;
    float: inherit;
    margin: 0 auto 40px;
    text-align: center;
  }
  .secure-txt {
    width: 100%;
  }
  .secure-installation {
    .vc_col-sm-6 {
      width: 100%;
    }
  }
  .vc_row.vc_row-fluid.secure-installation.full {
    padding: 25px calc((100% - 1170px) / 2) 0;
    p {
      text-align: justify;
    }
    h2 {
      text-align: center;
    }
    img {
      display: table;
      float: inherit;
      margin: 0 auto;
      max-width: 430px;
    }
  }
  .wpb_text_column .fps-3ds-img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .vc_row.vc_row-fluid.secure-installation.full img {
    width: 100%;
  }
}