@import "common/variables";
@import "common/mixins";

header {
  background-color: $black;
  //border-bottom: 1px solid #ebebeb;
  top: 0;
  @include transition-multi(top 0.5s ease 0s, padding 0.3s ease 0s);

  .navbar-brand {
    //background-image: url("../images/hipay-color.svg");
    //background-position: center top;
    //background-repeat: no-repeat;
    //background-size: 96px auto;

    height: 37px;
    margin: 18px 0 0;
    @include transition-multi(height 0.3s ease 0s, margin 0.3s ease 0s);

    & > svg {
      & > path {
        fill: #fff;
        @include transition(fill);
      }
    }
  }

  .dropdown-menu > .active > a {
    color: #fff;
    opacity: 1;
  }

  .nav > li {
    padding: 10px 0;
    @include transition-multi(padding 0.3s ease 0s, background-color 0.3s ease 0s);
    & > a {
      color: $grey-txt;
      &:hover, &:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        border: medium none;
        opacity: 1;
      }
    }
    &.sub-menu {
      margin-top: 10px;
    }
    &:hover, &:focus {
      color: #fff;
    }
    &.current-menu-parent, &.current-menu-item {
      & > a {
        color: #fff;
        opacity: 1;
      }
    }
  }
  .nav-secondary {
    & > li:last-child {
      & > a {
        background-color: $blue;
        border: medium none;
        color: #fff;
        opacity: 1;
        padding: 8px 16px;
        @include transition-multi(background-color 0.3s ease 0s, opacity 0.3s ease 0s);
        &:focus, &:hover, &:active {
          opacity: 0.75;
          outline: medium none;
          @include transition(opacity);
        }
      }
    }
  }
}

.main {
  background-color: #fff;
  margin-top: 70px;
}

.job-content {
  color: $read-txt;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.75em;
  margin: 60px 0 120px;
  width: 700px;
  h1 {
    padding: 0;
  }
  section {
    padding: 1.75em 0;
  }
  p {
    letter-spacing: 0.01rem;
    margin: 0 0 1.75em;
  }
  a, b, strong {
    &:not(.tag) {
      font-family: $serif;
    }
  }
}

.job-title, .job-description {
  margin-bottom: 40px;
}

.all-offers {
  h1, h2, h3, h4 {
    color: $blue;
  }
}

.last-articles-blog {
  position: fixed;
  margin-top: 60px;
  @include transition(margin-top);
  .article-title {
    cursor: pointer;
  }
  &.up {
    margin-top: -30px;
    @include transition(margin-top);
  }
}

button {
  @include border-radius(6px);
  @include btn-color($blue);
  font-size: 14px;
  padding: 6px 22px;
}