@import "common/variables";
@import "common/mixins";

.category-media, .category-media-en, .category-cp, .category-cp-en {
  @import "common/header-block";
}

.single {
  background-color: #fff;
  .main {
    .page-header {
      background-position: center center;
      height: 415px;
    }
    & > .container {
      font-family: $serif;
      color: $read-txt;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.75em;
      margin: 120px auto;
      width: 700px;
      a, b, strong {
        &:not(.tag) {
          font-family: $serif;
        }
      }
      h1 {
        font-size: 32px;
        padding: 0;
      }
      .tag-section {
        display: block;
        margin-top: 15px;
      }
      section {
        padding: 1.75em 0 0;
        a {
          font-weight: 400;
          letter-spacing: -0.01em;
          span {
            font-weight: 400;
            letter-spacing: -0.01em;
          }
        }
      }
      p {
        letter-spacing: 0.01rem;
        margin: 0 0 1.75em;
      }
    }
  }
}

body:not(.category-blog) {
  .main > .container {
    margin: 0 auto 40px;
  }
  //header {
  //  background-color: $black;
  //  //border-bottom: 1px solid #ebebeb;
  //  top: 0;
  //  @include transition-multi(top 0.5s ease 0s, padding 0.3s ease 0s);
  //
  //  .navbar-brand {
  //    //background-image: url("../images/hipay-color.svg");
  //    //background-position: center top;
  //    //background-repeat: no-repeat;
  //    //background-size: 96px auto;
  //
  //    height: 37px;
  //    margin: 18px 0 0;
  //    @include transition-multi(height 0.3s ease 0s, margin 0.3s ease 0s);
  //
  //    & > svg {
  //      & > path {
  //        fill: #fff;
  //        @include transition(fill);
  //      }
  //    }
  //  }
  //
  //  .dropdown-menu > .active > a {
  //    color: #fff;
  //    opacity: 1;
  //  }
  //
  //  .nav > li {
  //    padding: 10px 0;
  //    @include transition-multi(padding 0.3s ease 0s, background-color 0.3s ease 0s);
  //    & > a {
  //      color: $grey-txt;
  //      &:hover, &:focus {
  //        color: #fff;
  //        background-color: rgba(0, 0, 0, 0);
  //        border: medium none;
  //        opacity: 1;
  //      }
  //    }
  //    &.sub-menu {
  //      margin-top: 10px;
  //    }
  //    &:hover, &:focus {
  //      color: #fff;
  //    }
  //    &.current-menu-parent, &.current-menu-item {
  //      & > a {
  //        color: #fff;
  //        opacity: 1;
  //      }
  //    }
  //  }
  //  .nav-secondary {
  //    & > li:last-child {
  //      & > a {
  //        background-color: $blue;
  //        border: medium none;
  //        color: #fff;
  //        opacity: 1;
  //        padding: 8px 16px;
  //        @include transition-multi(background-color 0.3s ease 0s, opacity 0.3s ease 0s);
  //        &:focus, &:hover, &:active {
  //          opacity: 0.75;
  //          outline: medium none;
  //          @include transition(opacity);
  //        }
  //      }
  //    }
  //  }
  //  &.nav-up {
  //    top: -70px;
  //  }
  //}

  .other-articles, .other-articles.vc_row.vc_row-fluid {
    .article-content {
      @include transition(background-color);
      &:hover, &:focus {
        @include transition(background-color);
      }
    }

    .previous-article {
      .article-content {
        //background-color: #009dbf;
      }
      &:hover, &:focus {
        .article-content {
          //background-color: #006277;
        }
      }
    }
    .next-article {
      .article-content {
        //background-color: $blue-tpp;
      }
      &:hover, &:focus {
        .article-content {
          //background-color: #003b61;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .page-header {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .meta, .updated {
    font-size: 1.2rem;
  }
  .single .main {
    & > .container {
      font-size: 1.4rem;
      width: 100%;
      h1 {
        font-size: 2.4rem;
      }
    }
  }
}