@import "common/variables";
@import "common/mixins";
@import "common/header-block";


.main {
  & > .container {
    margin: 0 auto 40px;
  }
}

h3 {
  font-size: 2.2rem;
}

a {
  font-weight: 400;
}

.job-content {
  width: 700px;
  & > div {
    & > p > span {
      font-size: 1.6rem !important;
      font-family: $main-font !important;
      color: inherit !important;
      & > a {
        color: $blue !important;
        & > strong {
          color: $blue;
          font-weight: 500;
        }
      }
      & > strong {
        font-weight: 500;
      }
    }
    & > ul > li > p > span {
      font-size: 1.6rem !important;
      font-family: $main-font !important;
      color: inherit !important;
    }
  }
  h1 {
    padding: 0;
  }
  ul {
    margin: 25px 0 0;
    & > li {
      color: $black;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2em;
      list-style-type: initial;
      margin-bottom: 15px;
      margin-left: 25px;
    }
  }
  section {
    padding: 1.75em 0;
  }
  p {
    font-family: $serif;
    color: $read-txt;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75em;
  }
  a, b, strong {
    &:not(.tag) {
      font-family: $serif;
    }
  }
}

.job-title, .job-description {
  margin-bottom: 40px;
}

.all-offers {
  h1, h2, h3, h4 {
    color: $blue;
  }
}

.last-articles-blog {
  position: fixed;
  @include transition(margin-top);
  .article-title {
    cursor: pointer;
  }
  &.up {
    @include transition(margin-top);
  }
}

.main {
  button {
    @include border-radius(3px);
    @include btn-color($blue);
    font-size: 1.6rem;
    padding: 14px 22px;
  }
}