@import "../common/_mixins";
@import "../common/_variables";


.footer > li > a {
  cursor: inherit;
}

footer {

  background-color: $black;
  padding: 70px 0 20px;

  .menu-footer-container, .menu-footer-english-container {
    & > ul {
      & > li {
        float: left;
        margin-right: 10%;
        & > a {
          color: #fff;
          font-family: $main-font;
          font-size: 14px;
          font-weight: 400;
          &:hover, &:focus {
            opacity: 1;
          }
        }
        & > .sub-menu {
          margin-top: 10px;
          & > li {
            margin-bottom: -5px;
            & > a {
              color: $medium-grey;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4;
            }
          }
        }
      }
    }
  }

  .links-zone {

    .sub-menu {
      padding: 0;
      margin-top: 20px;
    }

    li {
      list-style-type: none;

      a {
        color: $medium-grey;
        font-weight: 300;
        font-size: 12.5px;

        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

    & div > a {
      color: #fff;
      font-weight: 500;
      font-size: 12.5px;

      &:hover {
        text-decoration: none;
      }
    }

    .footer-legal > a {
      visibility: hidden;
    }

  }

  /** social links **/

  .social-zone {

    padding-top: 5px;
    text-align: right;

    div {

      a {

        svg {
          height: 25px;
          width: 25px;

          path, polygon {
            transition: all 0.3s ease 0s;
          }
        }

        &:hover {
          svg {
            path, polygon {
              fill: #409dd1;
              transition: all 0.3s ease 0s;
            }
          }
        }
      }
    }

    .social-links {
      & > div {
        display: inline-block;
        margin-left: 5px;
      }
    }

    .news-links {

      display: table;
      float: right;

      .btn-white-empty {

        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;

        &:hover {
          color: #409dd1;
          border-color: #409dd1;
        }
      }

      &:hover {
        & > a {
          border: 2px solid #007cc1;
          color: #007cc1;
        }
      }

      .news-form {
        display: none;
        margin-top: 18px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease 0s;

        input.btn-white-rounded-empty {
          margin: 0;
          background-color: rgba(0, 0, 0, 0);
          border: 2px solid #ffffff;
          -moz-border-radius: 60px;
          -webkit-border-radius: 60px;
          border-radius: 60px;
          color: #ffffff;
          cursor: pointer;
          font-size: 14px;
          padding: 6px 18px;
          min-width: inherit;

        }

        input {
          background-color: transparent;
          border-left: medium none;
          border-right: medium none;
          border-top: medium none;
          border-bottom: 1px solid #666666;
          font-size: 14px;
          margin-right: 30px;
        }
      }

      &.news-links-on {

        & > a {
          display: table;
          position: absolute;
          right: 15px;
          opacity: 0;
          transform: translateY(10px);
        }

        .news-form {
          position: relative;
          opacity: 1;
          visibility: visible;
          display: block;
        }
      }
    }
  }

  .footer-links {
    float: left;
    padding-top: 10px;
    margin-bottom: 0;
    width: 100%;

    ul {
      padding: 20px 0 5px;
      text-align: center;

      li {

        display: inline;

        a {
          color: $medium-grey;
          font-weight: 500;
          font-size: 12.5px;
          letter-spacing: -0.005em;
          padding: 0 1.5%;
          text-align: center;
        }

        a:hover {
          color: #007CC1;
          text-decoration: none;
        }
      }
    }
  }

  .footer-end {
    border-top: 1px solid #555;
    margin-top: 35px;
    padding-top: 35px;

    .attribution {
      color: $medium-grey;
      margin-top: 25px;
      text-align: right;
      font-family: $main-font;

      .legal-link {
        color: $medium-grey;
        font-weight: 400;
        letter-spacing: 0.01em;
      }

      a, span {
        color: $medium-grey;
        font-size: 11px;
        padding: 0 5px;
      }

      a:hover {
        color: #ffffff;
        text-decoration: none;
      }
      .lang-btn {
        ul, li {
          display: inline;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {

  footer {
    padding-bottom: 35px;
    padding-top: 35px;
    div[class*="col-md-"], article[class*="col-md-"] {
      margin-bottom: 0;
      width: 100%;
    }
    .footer-end .col-md-6 {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .footer-wp-links {
      display: none;
    }
    .social-zone {
      text-align: center;
      margin: 0;
      .news-links {
        margin-top: 0;
        display: inherit;
        float: inherit;
        text-align: center;
      }
      div a svg {
        height: 40px;
        width: 40px;
      }
    }
    .links-zone {
      .col-md-4 {
        padding: 0;
        text-align: center;
      }

      .footer-news {
        padding-top: 15px;
      }
      .footer-legal {
        .sub-menu {
          margin-top: 0;
        }
      }
    }
    nav {
      .social-zone {
        text-align: center;
      }
    }
    .footer-end {
      .col-md-6 {
        padding: 0;
        text-align: center;

        .attribution {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tab-pane p {
    padding: 0;
  }
  footer {
    .container {
      .social-zone {
        .news-links {
          margin-top: 0;
          & > button {
            padding: 12px 16px;
            width: 100%;
          }
        }
      }
    }
  }
}